/* .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(${Gate}) no-repeat center center;
    background-size: cover;
  }
  
  .img {
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 400px;
  } */